%h1= category.name

%h3 Products in category
- unless category.products.empty?
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th

    %tbody
      - category.products.each do |product|
        %tr
          %td= product.title
          %td= link_to 'Show', category_product_path(category, product), class: 'btn btn-success'
-else
  %div.alert.alert-warning No products found for this category.

- if user_signed_in?
  %hr

  %p
    %h3 New product
    %div.row.panel
      %div.col-md-4
        = render 'products/form'

  - if user_signed_in? && current_user.admin
    = link_to 'Edit', edit_category_path(category), class: 'btn btn-warning'
  = link_to 'Back', categories_path, class: 'btn btn-primary'
