%h1= product.title
%dl.dl-horizontal
  %dt Description
  %dd
    = product.description
  %dt Price
  %dd
    = product.price
  %dt Category
  %dd
    = link_to product.category.name, category_path(product.category)

- if user_signed_in?
  %hr

  %h3 Add Review

  %div.row
    %div.col-md-4
      = render 'reviews/form'

%hr
%h3 Reviews
- unless reviews.empty?
  = render reviews
- else
  %div.alert.alert-warning This product has no reviews yet.

%br

- if user_signed_in? && product.user == current_user
  = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-warning'
= link_to 'Back', category_products_path, class: 'btn btn-primary'
